:root {
    --dark-grey: #24232C;
    --grey: #817D92;
    --almost-white: #E6E5EA;
    --very-dark-grey: #18171F;
    --neon-green: #A4FFAF;
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow: #F8CD65;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "JetBrains Mono";
    font-size: 18px;
    font-weight: 700;
    color: var(--almost-white);
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

.container {
    max-width: 540px;
    margin: 133px auto 0;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 31px;
}

.container-password {
    width: 100%;
    background: var(--dark-grey);
    padding: 19px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.container-password .password-result {
    font-size: 32px;
    opacity: .25;
}

.container-copy {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container-copy .txt-copy {
    font-size: 18px;
    color: var(--neon-green);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.container-copy .txt-copy.active {
    opacity: 1;
}


#icon-copy {
    height: 24px;
    cursor: pointer;
}

#icon-copy:hover {
    fill: var(--almost-white);
}

form {
    background: var(--dark-grey);
    padding: 24px 32px 32px 32px;
}

.container-label-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

#value-character-length {
    font-size: 32px;
    color: var(--neon-green);
}

/* INPUT RANGE */

.input-range {
    position: relative;
    height: 28px;
    overflow: hidden;
    margin-bottom: 32px;
}

input[type="range"] {
    position: relative;
    width: 100%;
    height: 28px;
    -webkit-appearance: none;
    padding: 0;
    font: inherit;
    outline: none;
    background: transparent;
    color: var(--almost-white);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--neon-green);
}
input[type="range"]::-moz-slider-runnable-track {
    height: 8px;
    background: var(--neon-green);
}
input[type="range"]::-ms-track {
    height: 8px;
    background: var(--neon-green);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: currentColor;
    z-index: 5;
}
input[type="range"]::-webkit-slider-thumb:hover {
    border: 2px solid var(--neon-green);
    background: var(--very-dark-grey);
}

input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--almost-white);
    background: currentColor;
    z-index: 5;
}
input[type="range"]::-moz-slider-thumb:hover {
    border: 2px solid var(--neon-green);
    background: var(--very-dark-grey);
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    position: relative;
    bottom: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--almost-white);
    background: currentColor;
    z-index: 5;
}
input[type="range"]::-ms-thumb:hover {
    border: 2px solid var(--neon-green);
    background: var(--very-dark-grey);
}

.background-range {
    position: absolute;
    height: 8px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--very-dark-grey);
    z-index: 2;
}

/* INPUT CHECK */

.input-check {
    margin-bottom: 19px;
}

.input-check:nth-child(5) {
    margin-bottom: 31px;
}

.input-check label {
    display: flex;
    align-items: center;
    gap: 24px;
}

.back-svg {
    height: 20px;
    width: 20px;
    border: 2px solid var(--almost-white);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.back-svg:hover {
    border: 2px solid var(--neon-green);
}

input[type="checkbox"] {
    position: absolute;
    width: 1px;
}

input[type="checkbox"]:checked + label > .back-svg {
    background: var(--neon-green);
    border: 2px solid var(--neon-green);
}

/* STRENGTH */

.password-strength {
    width: 100%;
    background: var(--very-dark-grey);
    padding: 25px 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-strength p {
    color: var(--grey);
    text-transform: uppercase;
}

.container-password-strength {
    display: flex;
    gap: 15.5px;
}

#level-password {
    font-size: 24px;
    text-transform: uppercase;
}

.rod-level {
    display: flex;
    gap: 8px;
}

.rod {
    width: 10px;
    height: 28px;
    border: 2px solid var(--almost-white);
}


/* BUTTON */

button {
    width: 100%;
    height: 65px;
    border: none;
    background: var(--neon-green);
    border: 2px solid var(--neon-green);
    cursor: pointer;
    font-family: "JetBrains Mono";
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
    background: var(--dark-grey);
    color: var(--neon-green);
    fill: var(--neon-green);
}

button svg {
    margin-left: 24px;
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    .container {
        margin: 64px auto 0;
        width: 343px;
    }

    form {
        padding: 21px 16px 16px 16px;
    }

    .password-result {
        font-size: 24px;
    }

    #value-character-length {
        font-size: 24px;
    }

    #level-password {
        font-size: 18px;
    }

    button {
        font-size: 16px;
    }
}